@use "sass:math";

@import "../vars";

.flex-container {
  display: flex;
}

.post-list {
  flex: 1;
}

.one-post {
  margin-bottom: $margin;

  ul {
    border-left: var(--fg4) solid $border;
    list-style-type: none;
    margin-left: 0.5rem;
    padding-left: $margin;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1.6;

      a {
        text-decoration: none;
        transition: text-decoration 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }

      time {
        text-align: right;
        padding-right: $margin;
      }
    }

    @media screen and (min-width: $mobile-breakpoint) {
      margin-left: 1rem;
      padding-left: 2rem;
    }
  }
}
